<%- include('header'); -%>
<h2>this is the about page</h2>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, illo a. Neque ea
  minima, mollitia eligendi quod cumque sequi debitis numquam earum, amet, nihil
  nostrum odit aliquid error quia esse.
</p>
<%- include('footer'); -%>